# */1 * * * * echo "Hallöle Welt" >> /var/www/html/var/log/cron.log 2>&1
*/1 * * * * . /root/env.sh; cd /var/www/html; ls -la; printenv >> /var/log/cron.log 2>&1
# An empty line is required at the end of this file for a valid cron file.
